body{
	background-color: #DDDDDD;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.panel{
	padding-top: 1%;
}
#landing{
	min-height: 350px; background: url('../img/bg.jpg'); #background-color: rgb(41, 49, 52);
	background-size: cover;
}
#footer{
	background-color: rgb(41, 49, 52);
	color: #EEEEEE;
	height: 150px;
	line-height: 150px;
}
.mid{
	text-align: center;
}
.naslov{
	font-family: 'Play', sans-serif;
	color: rgb(42, 49, 51);
}
.tipka{
	height: 65px;
	width: 65px;
	transition: height 0.5s, width 0.5s;
}
.tipka:hover{
	height: 81px;
	width: 81px;
	transition: height 0.5s, width 0.5s;
}
.vline{
	margin-top: 2px;
	width: 1px;
	height: 46px;
	border: 1px solid rgba(41, 49, 52, 10);
	margin-left: auto;
	margin-right: auto;
}
.profil{
	border-radius: 50%;
}

@media (max-width: 720px){
	body{
		font-size: 0.75em;
	}
	.hfsm{
		display:none;
	}
	.tipka{
		height: 45px;
		width: 45px;
		transition: height 0.5s, width 0.5s;
	}
	.tipka:hover{
		height: 65px;
		width: 65px;
		transition: height 0.5s, width 0.5s;
	}
}